@import "../../assets/styles/variables";

.firefox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  &:hover {
    background-color: $onhover-background-color;
    opacity: 0.75;
    border-radius: 9px;
  }
  img {
    width: 5rem;
  }
}
