.projectPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .projects {
    border: 1px solid lightgrey;
    padding: 1rem;
    border-radius: 25px;
    margin: 1rem;
    width: 20rem;
    h3 {
      margin: 1rem 0;
    }
    .projectCard {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        color: blue;
      }
      .projectImages {
        width: 10rem;
        height: 8rem;
      }
    }
    .description {
      text-align: center;
      margin: 1rem 0;
    }
  }
}
