// ****************************
// Color Variables
// ****************************
$onhover-background-color: lightgrey;

// ****************************
// Font Variables
// ****************************
$base-font-family: "Rajdhani";
$base-font-family2: "Open Sans";
$base-font-family3: "Dolce Vita";
