// ****************************
// Color Variables
// ****************************
$base-color: #00163c;
$base-color-light: #1d345e;
$base-color2: #a7d6f2;
$base-color3: #fedf48;
$base-link-color: #141fe8;
// ****************************
// Font Variables
// ****************************
$base-font-family: "Rajdhani";
$base-font-family2: "Open Sans";
$base-font-family3: "Dolce Vita";
